.imagen{
    padding-left: 870px;
    padding-top: 0px;
    width: 744px;
    height: 1024px;
    left: 734px;
    top: 0px;
    background: url(image_1.jpg);
}
.titulo{
    padding-top: 90px;
    padding-left: 123px;
    padding-right: 1061px;
    width: 256px;
    height: 182px;
    left: 123px;
    top: 328px;
    font-family: 'Histora Beralin';
    font-style: normal;
    font-weight: 400;
    font-size: 100px;
    line-height: 90px;
    letter-spacing: 0.07em;
    color: #4154FF;
}
.vanila{
    width: 201px;
    height: 28px;
    left: 82px;
    top: 38px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.3em;
    color: #000000;
}
.blues{
    width: 201px;
    height: 28px;
    left: 82px;
    top: 38px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.3em;
    color: #FB4BAE;
}
.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
}
